$primary-color: #0061E0;

$light-background: #ffffff;
$light-surface: #f6f7f9;
$light-text: #282828;
$light-border: #e0e0e0;

$dark-background: #161a1f;
$dark-surface: #202730;
$dark-text: #f1f1f1;
$dark-border: #333b45;

$breakpoint-mobile: 768px;
